In [ ]:
#data
#https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis/data

#class data doc
#https://docs.google.com/document/d/1BsJIWU4TKUkADvnNEC14b8coQ5VqslJtS7ZBCYJVZAk/edit?tab=t.ta49d25hofw5#heading=h.bbadcysas44j

# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

In [ ]:
who: business leaders wanting to sell products before expire or easons?
what: we want to sell more of x product
how: ill show what products or areas could be better

# 3. Homework - work with your own data

In [2]:
#!pip install pandas

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [ ]:
#Summarize the datasets using info() and describe()

In [ ]:
#Are there any duplicate rows?

In [ ]:
#Are there any duplicate values in a given column (when this would be inappropriate?)

In [ ]:
#What are the mean, median, and mode of each column?

In [ ]:
#Are there any missing or null values?
####Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

In [ ]:
#Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

In [ ]:
#Encode any categorical variables (e.g. with one-hot encoding.)

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.

In [ ]:
#Retail & E-Commerce

# Instacart Market Basket Analysis
# Kaggle
# https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

In [8]:
# df = pd.read_csv("../data/Retail_and_ECommerce/Instacart_Market_Basket_A/aisles.csv")

In [7]:
import pandas as pd
import glob
import os

base = "data/Retail_and_ECommerce/Instacart_Market_Basket_A"

# ---- Simple files ----
aisles = pd.read_csv(os.path.join(base, "aisles.csv"))
departments = pd.read_csv(os.path.join(base, "departments.csv"))
products = pd.read_csv(os.path.join(base, "products.csv"))
order_products_train = pd.read_csv(os.path.join(base, "order_products__train.csv"))

# ---- Combine split files ----

# orders parts
orders_files = glob.glob(os.path.join(base, "orders_part_*.csv"))
orders = pd.concat([pd.read_csv(f) for f in orders_files], ignore_index=True)

# prior parts
prior_files = glob.glob(os.path.join(base, "order_products__prior_*.csv"))
order_products_prior = pd.concat([pd.read_csv(f) for f in prior_files], ignore_index=True)

print("Loaded everything.")
print("orders shape:", orders.shape)
print("order_products_prior shape:", order_products_prior.shape)

Loaded everything.
orders shape: (3421083, 7)
order_products_prior shape: (32434489, 4)

<hr>

In [10]:
order_products_prior.sample(2)

          order_id  product_id  add_to_cart_order  reordered
20957456   2075002       17010                  7          0
21893049   1317575       15386                 12          0

In [11]:
aisles.sample(2)

    aisle_id                 aisle
85        86                  eggs
63        64  energy sports drinks

In [12]:
departments.sample(2)

    department_id department
18             19     snacks
17             18     babies

In [13]:
products.sample(2)

       product_id                     product_name  aisle_id  department_id
45285       45286  In Louisiana Hot Sauce Sardines        95             15
9524         9525             Natural Hibiscus Tea        94              7

In [14]:
order_products_train.sample(2)

        order_id  product_id  add_to_cart_order  reordered
3869        9653        5050                  1          1
815580   2012049       44830                 15          0

In [15]:
orders.sample(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1287429,876424,31982,prior,5,5,14,5.0
105263,628774,143041,prior,1,4,17,NaN